In [24]:
from nilm_dao import *
import pandas as pd
import numpy as np

In [25]:
train_df = get_rae_data("train", False).to_pandas()
val_df = get_rae_data("test", False).to_pandas()
le = get_label_encoder("rae")

In [26]:
train_df["Label"] = le.inverse_transform(train_df["Label"])
val_df["Label"] = le.inverse_transform(val_df["Label"])

In [27]:
labels = train_df["Label"].unique()
labels

array(['home_office', 'bathrooms', 'basement_blue_plugs',
       'garage_sub_panel_s2', 'garage_sub_panel_s1', 'lp16_s1',
       'clothes_dryer_s2', 'clothes_dryer_s1', 'misc_plugs', 'heat_pump',
       'lp20_s1', 'lp20_s2', 'rental_suite_sub_panel', 'kitchen_oven_s1',
       'kitchen_oven_s2', 'kitchen_oven_s3', 'clothes_washer',
       'furnace_and_hot_water_unit', 'lp3_s1', 'lp3_s2',
       'upstairs_bedroom_AFCI_arc-fault_plugs', 'kitchen_counter_plugs',
       'upstairs_plug_and_lights', 'kitchen_dishwasher', 'fridge_s1',
       'fridge_s2'], dtype=object)

In [28]:
train_df["Label"] = train_df["Label"].replace({"lp3_s1": "lp320_s1", "lp20_s1": "lp320_s1", "garage_sub_panel_s1": "garage_sub_panel", "garage_sub_panel_s2": "garage_sub_panel"})
val_df["Label"] = val_df["Label"].replace({"lp3_s1": "lp320_s1", "lp20_s1": "lp320_s1", "garage_sub_panel_s1": "garage_sub_panel", "garage_sub_panel_s2": "garage_sub_panel"})

In [31]:
labels = train_df["Label"].unique()
labels

array(['home_office', 'bathrooms', 'basement_blue_plugs',
       'garage_sub_panel', 'lp16_s1', 'clothes_dryer_s2',
       'clothes_dryer_s1', 'misc_plugs', 'heat_pump', 'lp320_s1',
       'lp20_s2', 'rental_suite_sub_panel', 'kitchen_oven_s1',
       'kitchen_oven_s2', 'kitchen_oven_s3', 'clothes_washer',
       'furnace_and_hot_water_unit', 'lp3_s2',
       'upstairs_bedroom_AFCI_arc-fault_plugs', 'kitchen_counter_plugs',
       'upstairs_plug_and_lights', 'kitchen_dishwasher', 'fridge_s1',
       'fridge_s2'], dtype=object)

In [33]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(train_df["Label"])
train_df["Label"] = label_encoder.transform(train_df["Label"].to_numpy())
val_df["Label"] = label_encoder.transform(val_df["Label"].to_numpy())

In [34]:
train_df.head()

      unix_ts  Irms    P    MeanPF   Q    S  Label
0  1462064304   0.9   78  0.702703   5  111     10
1  1462064305   1.7  179  0.864734  25  207     10
2  1462064306   1.7  180  0.857143  25  210     10
3  1462064307   1.8  194  0.889908  27  218     10
4  1462064308   1.8  197  0.895455  27  220     10

In [35]:
np.save("/opt/nilm-shared-data/nilm_device_detection/RAE/utils/fix_classes.npy", label_encoder.classes_)

In [36]:
train_df.to_csv("/opt/nilm-shared-data/nilm_device_detection/RAE/train_test_data/fix_train.csv", index=False)
val_df.to_csv("/opt/nilm-shared-data/nilm_device_detection/RAE/train_test_data/fix_test.csv", index=False)